01-to-string
02-adjust
03-to-string-list
04-to-string-const
10-map
11-map-alter-value
12-map-value-type
13-map-range-based
14-map-lower-bound
15-map-prev
20-erase-even
21-erase-map
22-erase-algo
23-erase-idiom
30-invalidation
31-clamping
40-sum
41-rotate
42-permutation
43-sort
44-merge
45-union
50-example-test
51-example-test-fast-compile
60-ratio-construct-get
61-ratio-multiply
62-ratio-conversions

